# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Debug files
*.pdb 